[MASTER]
ignore=migrations,tests
jobs=4

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals

[FORMAT]
max-line-length=119

[BASIC]
good-names=i,j,k,ex,Run,_,id,pk

[DESIGN]
max-parents=10
